html  
    head
        title Cars factory
    body
        header
            p Welcome to cars factory
        section
            p The cars available are:
            each val in [1, 2, 3, 4, 5]
                li = car
        footer
            cool Made by The Cars Company