html  
    head
        title Cars factory
    body
        header
            p Welcome to cars factory
        section
            p The cars available are:
        footer
            cool Made by The Cars Company